body.dark-mode
  color #ddd
  background-color #222

  a
    color #9ecbff

.navbar
  background-color #111
  border-color #111

#sidebar
  background-color #111

.main
  background-color #333
body.dark-mode .widget
  background-color #333
  border-color #555
  color #ddd

body.dark-mode .widget-header,
body.dark-mode .widget-footer
  background-color #444
  border-color #555
  color #ddd

body.dark-mode .panel,
body.dark-mode .panel-body
  background-color #333
  color #ddd

body.dark-mode .panel > .panel-heading
  background-color #444
  border-color #555
  color #ddd

body.dark-mode .gcode-viewer
  background-color #222
  border-color #555

body.dark-mode .gcode-viewer-disabled
  background-color #444
